version: "3.8"

services:
  backend:
    build: .
    container_name: gp-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - ./src/uploads:/app/src/uploads
    restart: always

  mongo:
    image: mongo:7
    container_name: gp-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
